<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {#쿠키이용#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    {#구글웹폰트#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

    {# 스타일 시트 불러오기#}
    <link href="{{ url_for('static', filename='otaku.css') }}" rel="stylesheet">

    <title>너만오타쿠가아니야!</title>
    <script>

        {% if msg %}
            alert("{{ msg }}")
        {% endif %}

        function sigh_out() {
            $.removeCookie('mytoken', { path: '/'});
            alert('로그아웃!')
            window.location.href = '/login'

     }

        $(document).ready(function () {
            get_posts();
        });


        function get_posts() {

            $("#post-box").empty()
            $.ajax({
                type: "GET",
                url: `/get_posts`,
                data: {},
                success: function (response) {

                    let rows = response['get_posts']
                    for (let i = 0; i < rows.length; i++) {
                        let comment = rows[i]['comment']
                        let img = rows[i]['file']
                        let finger = rows[i]['finger']
                        let genre = rows[i]['genre']
                        let time = rows[i]['time']
                        let title = rows[i]['title']
                        let username = rows[i]['username']

                        let temp_html = `
                        <div class="col-4">
                            <div class="card">
                              <img src="../static/${img}"="card-img-top" alt="...">
                              <div class="card-body">
                                <div class="alert alert-primary" role="alert"style="font-size:35px">
                                     ${title}
                                    </div>
                                <button type="button" class="btn btn-warning">${genre}</button>
                                    <button type="button" class="btn btn-success"style="font-family: 'Dongle', sans-serif;">${finger}</button>
                                        <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="margin-top:10px;font-family: 'Dongle', sans-serif;font-size:25px;height: 100px">${comment}</textarea>
                            </div>
                                    <p class="mycomment"></p>
                                    <p style="font-family: 'Dongle', sans-serif;font-size: 20px">작성:${username}</p>
                                    <p style="font-family: 'Dongle', sans-serif;font-size: 20px">${time}</p>
                              </div>
                            </div>
                          </div>`


                        $('#page_box').append(temp_html)

                    }

                }
            })
        }

    </script>

</head>


<body>

<div class="titlearea">
    <div class="mytitle">
        <div class="logoicon" onclick=window.location.href="/"></div>
        <nav>
            <div class="search-box d-flex justify-content-center">
                <input id="input-word" class="form-control" style="margin-right: 0.5rem">
                <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </div>
            <nav>
                <div class="logout">
                    <button type="button" class="btn btn-light" style="font-family: 'Dongle', sans-serif;font-size: 25px" onclick="window.location.href = '/write'">작품 추가하기</button>
                    <button type="button" class="btn btn-light" style="font-family: 'Dongle', sans-serif;font-size: 25px" onclick="sigh_out()">로그아웃</button>
                </div>
            </nav>
        </nav>
    </div>
</div>

<div class="row row-cols-2 row-cols-md-2 g-4" id="page_box">

</div>


</body>
</html>