<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css"/>
    <meta property="og:title" content="너만 오타쿠가 아니야!"/>
    <meta property="og:description" content="애니메이션 리뷰를 남겨보아요"/>
    <meta property="og:image" content="{{ url_for('static', filename='logo1.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo1.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}" type="image/x-icon">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {#쿠키이용#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    {#구글웹폰트#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

    {# 스타일 시트 불러오기#}
    <link href="{{ url_for('static', filename='otaku.css') }}" rel="stylesheet">

    <title>너만오타쿠가아니야!</title>
    <style>
        * {
            font-size: 25px;
        }
    </style>


    <script>

        {% if msg %}
            alert("{{ msg }}")
        {% endif %}

        function sigh_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = '/login'
        }


        function save_page() {
            let title = $('#title').val()
            let comment = $("#comment").val()
            let genre = $("#genre").val()
            let finger = $("#finger").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("title_give", title)
            form_data.append("comment_give", comment)
            form_data.append("genre_give", genre)
            form_data.append("finger_give", finger)

            if (genre === '카테고리 선택하기') {
                alert('카테고리를 설정해 주세요')
            } else if (finger === '--따봉 갯수--') {
                alert('따봉을 설정해 주세요')
            } else {
                $.ajax({
                    type: "POST",
                    url: "/page",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert(response["msg"])
                        window.location.href = "/"
                    }
                });
            }

        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById('preview').src = "";
            }
        }

    </script>
</head>

<body>

<div class="titlearea">
    <div class="mytitle">
        <div class="logoicon" onclick=window.location.href="/"></div>
        <nav>
            <div class="search-box d-flex justify-content-center">
                <input id="input-word" class="form-control" style="margin-right: 0.5rem">
                <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </div>
            <nav>
                <div class="logout">
                    <a style="font-size: 40px;color: black;margin-right: 20px">{{ user_info.profile_name }}님 환영합니다!</a>
                    <button type="button" class="btn btn-light"
                            style="font-family: 'Dongle', sans-serif;font-size: 25px" onclick="sigh_out()">로그아웃
                    </button>
                </div>
            </nav>
        </nav>
    </div>
</div>

<div class="wrap" style="background-color: navajowhite;">
    <h1 style="font-family: 'Dongle', sans-serif;font-size: 40px">리뷰 작성하기</h1>
    <div class="top">
        <div class="image-box">
            <div class="image" style="margin: auto">
                <img src="../static/prev.png" id="preview" style="max-width: 100%">
            </div>
            <div>
                <input type="file" onchange="readURL(this);" id="file"
                       style="font-family: 'Dongle', sans-serif;font-size: 25px">
            </div>
        </div>

        <div class="inputs">
            <div class="title">
                <label for="title">제목</label>
                <input type="email" class="form-control" id="title" aria-describedby="emailHelp"
                       placeholder="제목을 입력하세요">
            </div>
            <div class="genre">
                <label for="genre">카테고리</label>
                <select class="form-control" id="genre">
                    <option>카테고리 선택하기</option>zz
                    <option>액션</option>
                    <option>러브 코미디</option>
                    <option>공포</option>
                    <option>스릴러</option>
                </select>
            </div>
            <div class="good">
                <label for="finger">따봉👍</label>
                <select class="form-control" id="finger">
                    <option>-몇 따봉?-</option>
                    <option>👍</option>
                    <option>👍👍</option>
                    <option>👍👍👍</option>
                    <option>👍👍👍👍</option>
                    <option>👍👍👍👍👍</option>
                </select>
            </div>
        </div>
    </div>
    <div class="review" id="box">
        <label for="content">리 뷰</label>
        <textarea class="form-control" id="comment" rows="3"
                  placeholder="리뷰를 입력하세요"></textarea>
        <button type="button" class="btn btn-info" onclick="save_page()"
                style="font-family: 'Dongle', sans-serif;font-size: 25px">올리기
        </button>
    </div>
</div>
</body>

</html>